/* Fonts import */
@import url(https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Poiret+One&family=Quicksand:wght@300&display=swap);

/* Variables */
:root {
    --yellow-orange: #FFB85C;
    --tea-green: #dde4a3;
    --cambridge-blue: #92C5B2;
    --cadet-blue: #4DA1A9;
    --teal-blue: #3E7990;
    --mn-blue: #2E5077;
    --charm-pink: #E095AD;
    --pansy-purpler: #7E2546;
    --white-color: #ffffff;
}

body {
    width: calc(100vw - (100vw - 100%));
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand, sans-serif;
    color: var(--white-color);

}
