.RoomTabClosed {
    height: 20vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: var(--teal-blue);
    font-size: 1.8rem;

}

.RoomTabExpanded {
    text-align: center;
    display: flex;
    align-items: center;
    background-color: var(--teal-blue);
    height: 80vh;
    font-size: 2rem;
    transition: height 2s; 

}

div img {
  margin-right: 25px;
  margin-left: 35px;
  width: 25vw;
}